{
  "env": {
    "development": {
      "plugins": [
        ["module-resolver", { "extensions": [".ts"], "root": ["./src"] }]
      ],
      "presets": [
        ["@babel/env", { "targets": { "node": "8.10" }}],
        ["@babel/typescript"]
      ]
    },
    "production": {
      "plugins": [
        ["module-resolver", { "extensions": [".ts"], "root": ["./src"] }]
      ],
      "presets": [
        ["@babel/env", { "targets": { "node": "8.10" }}],
        ["@babel/typescript"]
      ]
    }
  }
}
