{
  "plugins": [
    ["module-resolver", {
      "extensions": [".js", ".ts"],
      "root": ["./src"]
    }]
  ],
  "env": {
    "development": {
      "presets": [
        ["@babel/env", { "targets": { "node": "6.10" }}],
        ["@babel/stage-0", { "decoratorsLegacy": true }],
        "@babel/typescript"
      ]
    },
    "production": {
      "presets": [
        ["@babel/env", { "targets": { "node": "6.10" }}],
        ["@babel/stage-0", { "decoratorsLegacy": true }],
        "@babel/typescript"
      ]
    }
  }
}
